<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 1~4번 라인은 xml 스키마 설정으로 굳이 외울 필요 없음. -->

<mapper namespace="org.ict.mapper.GeneralMapper">
	<!-- mapper 태그 내의 namespace 속성에 연결할 인터페이스 이름을 적어주면, 해당 인터페이스 내부의 메서드를 여기에 
		구현할 수 있음 -->

	<select id="getList" resultType="org.ict.domain.BoardVO">

		SELECT * FROM board WHERE bno > 0
	</select>

	<select id="read" resultType="org.ict.domain.BoardVO">
		SELECT * FROM board WHERE bno = #{bno}
	</select>
	
	

</mapper>
