<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 1~4번 라인은 xml 스키마 설정으로 굳이 외울 필요 없음. -->

<mapper namespace="org.ict.mapper.MyBoardMapper">
	<!-- mapper 태그 내의 namespace 속성에 연결할 인터페이스 이름을 적어주면, 해당 인터페이스 내부의 메서드를 여기에 
		구현할 수 있음 -->

	<select id="getList" resultType="org.ict.domain.MemberVO">
		<!-- select구문을 저장할 때는 select 태그를 씁니다. 속성 설명 : id는 연결할 메서드 이름, resultType은 
			실행 결과로 리턴될 타입을 적습니다. -->
		SELECT * FROM member WHERE mno > 0
	</select>

	<select id="viewList">
		SELECT * FROM member
		WHERE mno= #{mno}
	</select>

	<update id="update">
		UPDATE member
		SET
		mpwd = #{mpwd},
		memail = #{memail},
		mpnum = #{mpnum},
		maddress = #{maddress},
		mbirth = #{mbirth},
		gender = #{gender},
		marry = #{marry},
		military = #{military}
		WHERE
		mno = #{mno}
	</update>
	<select id="memberread" resultType="org.ict.domain.MemberVO">
		SELECT * FROM member WHERE
		mno = #{mno}
	</select>

</mapper>
